@import "reset";
@import "variables/global";
@import "themes/normal";
@import "themes/dark";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font: var(--font-m);
    color: var(--primary-color);
}

.app {
    background: var(--bg-color);
    @apply min-h-screen;
}

.content__page {
    @apply flex;
}

.page--wrapper {
    @apply grow p-4;
}
