.Modal {
  @apply fixed top-0 right-0 bottom-0 left-0 opacity-0 pointer-events-none;
  color: var(--primary-color);
}

.overlay {
  background: var(--overlay-color);
  @apply flex justify-center items-center w-full h-full;
}

.content {
  background: var(--bg-color);
  transition: 0.3s transform;
  @apply max-w-[60%] scale-50 rounded-xl p-5;
}

.opened {
  pointer-events: auto;
  z-index: var(--modal-z-index);
  @apply opacity-100;

  .content {
    @apply scale-100;
  }
}

.isClosing {
  .content {
    @apply scale-[0.2];
  }
}
